Repository briantist/galactory, pull requests merged in 2023-10, with the labels that each got.

#109 add configurable support for both raw and base64 uploads
  README.md
  changelogs/fragments/109-upload-format.yml
  galactory/__init__.py
  galactory/api/v2/collections.py
  galactory/api/v3/collections.py
  galactory/utilities.py
  tests/unit/conftest.py
  tests/unit/utilities/test_incoming_collection_stream.py
Labels: bug, enhancement

#115 try to make CI faster
  .github/workflows/test.yml
Labels: github_actions

#116 fix another 500 error on no local collection
  changelogs/fragments/114-bugfixes.yml
  galactory/api/v2/collections.py
  galactory/api/v3/collections.py
Labels: bug

#120 container build matrix should not fail fast
  .github/workflows/test.yml
Labels: github_actions

#123 fix: remove scheme when _external=False.
  changelogs/fragments/123-relative-url-scheme.yml
  galactory/api/v3/collections.py
Labels: bug

#124 Run arm64 docker container in CI
  .github/workflows/test.yml
Labels: github_actions, docker
